*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

volley/

.idea/libraries/play_services_appindexing_8_1_0.xml

.idea/libraries/design_23_1_1.xml

.idea/gradle.xml

.idea/libraries/recyclerview_v7_23_1_1.xml
